/* Ryan Mayberry */

/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

:root {
    --teal: #4ca7c0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-grey: #1E1E1E;
    --white: #ffffff;
}

body {
    background-color: var(--purple);
    font-family: Inter, cursive;
}

html {
    background-color: var(--lavender);
}

h1, h2 {
    font-family: Kavoon, sans-serif;
    color: var(--white);
}


h1 {
    font-size: 3em;
}

nav, h2 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    color: var(--yellow);
}

h4 {
    font-size: 1.15;
    color: var(--purple);
}

#why-choose-us, #first-step {
    background-color: var(--pink);
}

#first-step a {
    background-color: var(--white);
}

footer a, footer p {
    color: var(--white);
}



td {
    background-color: var(--white);
}

header h2,
nav {
    background-color: var(--yellow);
}

nav li {
    background-color: var(--white);
    list-style: none;
    color: var(--purple);
}

header {
    text-align: center;
}

table {
    margin: 0 auto;
    background-color: var(--yellow);
}

#why-choose-us li {
    list-style: none;
}

#first-step p {
    color: var(--white);
}